html {
  box-sizing: border-box;
  background-color: #dbd6cf;
  font-family: "Bevan", cursive;
  line-height: 1.5;
}

h1 {
  font-weight: bold;
  color: #fff;
  text-align: center;
  background-color: #79756f;
  padding: .6em;
  margin: .3em;
  border: 3px solid #595652;
}

h1 div {
  background-color: #713837
  color: #fff;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 14pt;
  display: inline;
  margin: .3em;
}
